
<div class="float_left" id="simulation-box">
  <h3 id="broadcast">Welcome!</h3>
  <canvas id="canvas">
    This is canvas :-)
  </canvas>
</div>

<div class="small_gap">
&nbsp;
</div>

<div class="float_left" id="setting-box">
  <h3>&nbsp;</h3>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Population size:&nbsp;
    <select id="bot_total_select">
      <option value="10" selected="">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <br/>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Speed:&nbsp;
    <select id="speed_select">
      <option value="100">Super sonic</option>
      <option value="500">Fast</option>
      <option value="1000" selected="">Normal</option>
      <option value="2000">Slow</option>
      <option value="3000">Super slow</option>
    </select>
    <br/>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of golds:&nbsp;
    <select id="gold_total_select">
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="200" selected="">200</option>
      <option value="500">500</option>
      <option value="1000">1000</option>
    </select>
    <br/>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of mines:&nbsp;
    <select id="mine_total_select">
      <option value="10">10</option>
      <option value="20" selected="">20</option>
      <option value="30">30</option>
    </select>
    <br/>

    &nbsp;&nbsp;&nbsp;Number of enemies:&nbsp;
    <select id="enemy_total_select">
      <option value="0">0</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30" selected="">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>
    <br/>
    Max damage allowed:&nbsp;
    <select id="damage_allowed_select">
      <option value="-50">50</option>
    </select>
    <br/>
    <button id="create_button">Create a new board</button>
    <button id="start_button">Start</button>
    <button id="pause_button" disabled>Pause</button>
    <button id="stop_button" disabled>Stop</button>
    <br>
  </p>

  <pre>
    best score    : <label id="best_score"></label><br/>
    average score : <label id="avg_score"></label><br/>
    survivors     : <label id="survivors"></label>
   </pre>
  <pre>
    <strong>Status of the best bot</strong><br/>
    current score : <label id="cur_score"></label><br/>
    # of moves    : <label id="cur_move"></label><br/>
    scan range    : <label id="best_scan_range"></label><br/>
    total fuel    : <label id="best_max_move"></label>
  </pre>
</div>

<div class="small_gap">
  &nbsp;
</div>


<div class = "float_left" id="event-box">
  <h3>&nbsp;</h3>

    Event log
    <label id="event_log">

    </label>

</div>
<script>
    var simulator = new Simulator();
    simulator.linkToGUI();
</script>