<h3>Movement of the best bot at generation <label id="gen_id">0</label></h3>

<div style="float: left;">
  <canvas id="canvas">
    This is canvas :-)
  </canvas>
</div>

<div style="float: left;">
  <p>
    Population size:
    <select id="bot_total_select">
      <option value="10">10</option>
      <option value="25" selected="">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <br/>

    Speed:
    <select id="speed_select">
      <option value="100">Super sonic</option>
      <option value="500">Fast</option>
      <option value="1000" selected="">Normal</option>
      <option value="2000">Slow</option>
      <option value="3000">Super slow</option>
    </select>
    <br/>

    Number of golds:
    <select id="gold_total_select">
      <option value="30">30</option>
      <option value="50" selected="">50</option>
      <option value="75">75</option>
      <option value="100">100</option>
    </select>
    <br/>

    Number of mines:
    <select id="mine_total_select">
      <option value="10">10</option>
      <option value="20" selected="">20</option>
      <option value="30">30</option>
    </select>
    <br/>

    Number of enemies:
    <select id="enemy_total_select">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30" selected="">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>
    <br/>
    Max damage allowed:
    <select id="damage_allowed_select">
      <option value="-50">50</option>
    </select>
    <br/>
    <button id="create_button">Create a new board</button>
    <button id="start_button">Start</button>
    <button id="pause_button" disabled>Pause</button>
    <button id="stop_button" disabled>Stop</button>
    <br>
  </p>

  <pre>
    best score    : <label id="best_score"></label><br/>
    average score : <label id="avg_score"></label><br/>
    survivors     : <label id="survivors"></label><br/>
   </pre>
  <pre>
    <h2>Status of the best bot</h2>
    current score : <label id="cur_score"></label><br/>
    # of moves    : <label id="cur_move"></label><br/>
    scan range    : <label id="best_scan_range"></label><br/>
    total fuel    : <label id="best_max_move"></label><br/>
  </pre>
</div>

<script>
    var simulator = new Simulator();
    simulator.linkToGUI();
</script>