// Place all the styles related to the simulator controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.float_left {
  float: left;
}

.small_gap {
  float: left;
  width: 5%;
}

#broadcast {
  text-align: center;
}

#simulation-box {
  width: 40%;
}
#setting-box{
  width: 30%;

}
#event-box {
  width: 20%;

}



