// Place all the styles related to the simulator controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.float_left {
  float: left;
}

.small_gap {
  float: left;
  width: 50px;
}

#broadcast {
  text-align: center;
}

